* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  margin-top: 8rem;
  margin-left: 30rem;
  margin-right: 30rem;
  background-color: rgb(243, 225, 203);
  color: #000;
  box-sizing: border-box;
}
.navBar {
  display: flex;
  align-content: center;
  flex-direction: column;
  float: left;
  position: absolute;
}

.navBar ul {
  list-style-type: none;
}
.navBar ul li {
  text-decoration: none;
  font-size: 2.5rem;
  justify-items: space-between;
  padding-bottom: 2rem;
  padding-right: 6rem;
}
.navBar ul li a {
  text-decoration: none;
  color: #000;
}
.content {
  display: block;
  flex-direction: column;
  align-items: center;
  border-width: 1rem;
  float: right;
  position: absolute;
  left: 60rem;
  padding-right: 30rem;
  padding-left: 5rem;
  border-left: #000 solid 0.1rem;
}
.img {
  margin-bottom: 2rem;
}
h1 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
}
table {
  font-size: 1.7rem;
}
table td {
  font-weight: bold;
  padding-right: 1.8rem;
}
p {
  padding-top: 2rem;
  font-size: 1.5rem;
  text-indent: 2rem;
}
